@charset "utf-8";

.spot_visual {
    position:relative;

    max-width:1920px;
    width:100%;
    height:720px;
    background:url('../images/pr_center_spot_visual_mobile.jpg') no-repeat center center;
    background-size:cover;

    margin-bottom:140px;
}

.spot_visual .typo {
    position:absolute;
    left:25px;
    bottom:84px;

    color:#fff;
}

.spot_visual .typo h2 {
    position:relative;
    font-size:40px;
    font-weight:bold;
    padding-bottom:20px;
}

.spot_visual .typo h2::after {
    content:'';
    display:block;

    position:absolute;
    left:0;
    bottom:10px;

    width:20px;
    height:4px;
    background:#fff;
}

.spot_visual .typo p {
    font-size:20px;
    font-weight:300;
    line-height:28px;
    letter-spacing: -0.5px;
}

.lnb_depth_02 {
    position:absolute;
    left:0;
    bottom:-60px;
    width:100%;
    border-bottom: 1px solid #e1e1e1;
    padding:0 25px;
}

.lnb_depth_02 ul {
    position:relative;
}

.lnb_depth_02 ul::after {
    content:url('../../images/arrow_black.png');
    position:absolute;
    right:0;
    top:20px;
}

.lnb_depth_02 ul li {
    width:100%;
    height:60px;
}

.lnb_depth_02 ul li a {
    font-size:20px;
    color:#333;
    font-weight:bold;
    line-height:60px;
}

/* .lnb_depth_02 ul li a:hover {
    color:rgba(255,255,255,1);
} */



/* .lnb_depth_02 ul li.on a {
    position:relative;
    color:rgba(255,255,255,1);
} */

.lnb_depth_02 ul li.on a::after {
    content:'';
    display:block;
    position:absolute;
    bottom:-5px;
    width:100%;
    height:5px;
    background:#fff;
}

.content_title {
    position:relative;
    margin-bottom:40px;
}

.lnb_depth_03 {
    position:absolute;
    left:0;
    top:-100px;
    width:100%;
    border-top:3px solid #333;
    padding-top:10px;
    font-weight:500;
}

.lnb_depth_03 li {
    position:relative;
    padding:0 10px;
}

.lnb_depth_03 li::after {
    content:'';
    display:block;
    width:1px;
    height:12px;
    position:absolute;
    right:0;
    top:3px;
    background:#333;
}

.lnb_depth_03 li:last-child::after {
    display:none;
}

.lnb_depth_03 ul li a {
    color:#999;
    font-size:16px;
}

.lnb_depth_03 ul li.on a {
    color:#333;
}

h3 {
    font-size:64px;
    font-weight:bold;
    color:#333;
    margin-bottom:100px;
}

section:last-child {
    padding-bottom:80px;
}


/* 컨텐츠 */

.content_start article {
    border-top:2px solid #1E3063;
}

h4 {
    font-size:24px;
    line-height:36px;
    font-weight:400;
    color:#333;
    padding-bottom:16px;
}

.news_title span {
    color:#999;
}

.content_start + section > article:first-child {
    border-top:1px solid #e1e1e1;
    padding:40px 0;
}

.summary {
    margin-bottom:40px;
}

.summary li {
    position:relative;
    line-height:24px;
    font-size:16px;
    color:#333;
    word-break: keep-all;
    padding:0 0 12px 10px;
}

.summary li::before {
    content:'- ';
    position:absolute;
    left:0;
}

p.text {
    font-size:14px;
    line-height:24px;
    color:#666;

    /* word-break: keep-all; */
    text-align: left;
    letter-spacing: -0.5px;
    font-weight:300;

    margin-bottom:40px;
}

.img_area {
    margin-bottom:40px;
}

.attachment {
    background:#F9F9F9;
    line-height:80px;
    margin-bottom:20px;
    padding:16px;
    box-sizing: border-box;
}

.attachment a {
    /* position:relative;
    display:block; */
    line-height:20px;
    color:#666;
    font-size:14px;
}

.attachment a span {
    display:block;
    color:#666;
}

.attachment a span:last-child {
    border-left:1px solid #e1e1e1;
    color:#0046FF;
}

.news_list {
    margin-bottom:40px;
}

.news_list li:first-child {
    border-top:1px solid #e1e1e1;
}

.news_list li {
    position:relative;
    line-height:60px;
    border-bottom:1px solid #e1e1e1;
    font-size:14px;
}

.news_list li span {
    color:#999;
    margin-right:20px;
}

.news_list li a {
    color:#333;
}

.btn_list {
    display:block;
    margin:0 auto;
    width:160px;
    line-height:38px;
    border:1px solid #0046FF;
    text-align:center;
    color:#0046FF;
    font-size:14px;
}