@charset "utf-8";

.spot_visual {
    position:relative;

    max-width:1920px;
    width:100%;
    height:720px;
    background:url('../images/pr_center_spot_visual.jpg') no-repeat center center;

    margin-bottom:160px;
}

.spot_visual .typo {
    position:absolute;
    left:calc(50% - 710px);
    top:305px;

    color:#fff;
}

.spot_visual .typo h2 {
    font-size:80px;
    font-weight:bold;
    padding-bottom:30px;
}

.spot_visual .typo p {
    font-size:24px;
    font-weight:300;
    line-height:32px;
}

.lnb_depth_02 ul li {
    margin-right:40px;
}

.lnb_depth_02 ul li a {
    font-size:20px;
    color:rgba(255,255,255,0.8);
    font-weight:bold;
}

.lnb_depth_02 ul li a:hover {
    color:rgba(255,255,255,1);
}

.lnb_depth_02 {
    position:absolute;
    left:calc(50% - 710px);
    bottom:40px;
}

.lnb_depth_02 ul li.on a {
    position:relative;
    color:rgba(255,255,255,1);
}

.lnb_depth_02 ul li.on a::after {
    content:'';
    display:block;
    position:absolute;
    bottom:-5px;
    width:100%;
    height:5px;
    background:#fff;
}

.content_title {
    position:relative;
    margin-bottom:40px;
}

.lnb_depth_03 {
    position:absolute;
    left:0;
    top:-100px;
    width:100%;
    border-top:3px solid #333;
    padding-top:10px;
    font-weight:500;
}

.lnb_depth_03 li {
    position:relative;
    padding:0 10px;
}

.lnb_depth_03 li::after {
    content:'';
    display:block;
    width:1px;
    height:12px;
    position:absolute;
    right:0;
    top:3px;
    background:#333;
}

.lnb_depth_03 li:last-child::after {
    display:none;
}

.lnb_depth_03 ul li a {
    color:#999;
    font-size:16px;
}

.lnb_depth_03 ul li.on a {
    color:#333;
}

h3 {
    font-size:64px;
    font-weight:bold;
    color:#333;
    margin-bottom:100px;
}

section:last-child {
    padding-bottom:180px;
}




/* 컨텐츠 */

.content_start {
    border-top:1px solid #1E3063;
}

.news_write input {
    border:1px solid #e1e1e1;
}

.news_write tr:first-child {
    padding:52px 0;
    border-bottom:1px solid #e1e1e1;
    vertical-align: middle;
}

.news_write tr:first-child td input {
    width:100%;
    height:52px;
    padding:0 20px;
    font-size:20px;
}

.news_write tr td input {
    width:50%;
    height:48px;
    padding:0 20px;
    font-size:20px;
}

.news_write tr td textarea {
    width:100%;
    height:400px;
    padding:0 20px;
    font-size:20px;
    border:1px solid #e1e1e1;
}

.news_write tr {
    line-height:52px;
    margin:10px 0;
}

.news_write th {
    font-size:20px;
}

.news_write tr:nth-child(2) {
    padding-top:52px;
}

.news_write tr:nth-child(4) {
    padding-bottom:52px;
}

.news_write tr:nth-child(5) {
    padding-bottom:52px;
}

.news_write tr:last-child {
    padding-bottom:80px;
}

#img_upload + label,
#file_upload + label {
    width:50%;
    height:52px;
    border:1px solid #e1e1e1;
    color:#999;
}

#img_upload + label span,
#file_upload + label span {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin-right: 20px;
    background: #f9f9f9;
    color:#666;
    height: calc(100% - 1px);
}

h4 {
    font-size:30px;
    line-height:160px;
    font-weight:bold;
    color:#333;
}

.admin_btn_gruop {
    position:absolute;
    right:0;
    top:0;
}

.news_title span {
    color:#999;
}

.content_start + section {
    border-top:1px solid #e1e1e1;
    padding:80px 0 180px;
}

.summary {
    margin-bottom:80px;
}

.summary  li {
    position:relative;
    line-height:40px;
    font-size:20px;
    color:#333;
}

.summary  li::before {
    content:'- ';
}

p.text {
    font-size:16px;
    line-height:28px;
    color:#666;

    word-break: keep-all;
    text-align: justify;
    letter-spacing: -1px;
    font-weight:300;

    margin-bottom:80px;
}

.img_area {
    margin-bottom:80px;
}

.attachment {
    background:#F9F9F9;
    line-height:80px;
    margin-bottom:80px;
}

.attachment a {
    position:relative;
    display:block;
    line-height:80px;
    color:#666;
    text-indent:40px;
}

.attachment a span {
    position:absolute;
    right:40px;
    top:28px;
    display:block;
    /* height:28px; */
    border-left:1px solid #e1e1e1;
    line-height:20px;
    width:80px;
    text-indent:20px;
    color:#666;
}

.news_list {
    margin-bottom:80px;
}

.news_list li:first-child {
    border-top:1px solid #e1e1e1;
}

.news_list li {
    position:relative;
    line-height:60px;
    border-bottom:1px solid #e1e1e1;
}

.news_list li span {
    color:#999;
}

.news_list li a {
    color:#333;
}

.btn_list {
    display:block;
    margin:0 auto;
    width:220px;
    line-height:52px;
    border:1px solid #0046FF;
    text-align:center;
    color:#0046FF;
}

.btn_list.write_btn {
    background:#333;
    color:#fff;
    border:0;
}

.btn_list.cancel_btn {
    margin-left: -4px;
    background:#FF3C3C;
    color:#fff;
    border:0;
}