@charset "utf-8";
/* 영역확인 */
/* #intro{
  background-color: yellow;
} */
/* #intro .t_box {
  background-color: aliceblue;
} */


/* 1.mslide 영역 */

#mslide .banner_wrap{
  position:relative;
}
#mslide .banner_box {
  position:absolute;
}

#mslide .banner_box:first-of-type{
  z-index:3;
}
#mslide .banner_box:nth-of-type(2){
  z-index:2;
}
#m_slide .banner_box:last-of-type{
  z-index:1;
}
.on{color:#fff !important;
font-size:32px !important;
font-weight:bold !important;
}


  /*  텍스트, 넘버박스, 아이콘, 버튼 */
#mslide .t_box p{
  color:#fff;
  font-size:36px;
  font-weight: bold;
  letter-spacing: -3%;
  padding-bottom:20px;
}
#mslide .t_box h2{
  color:#fff;
  font-size:80px;
  font-weight:900;
}

#mslide .n_box{
  padding:0px 0px 33px 36px;
}

#mslide .n_box>li{
  font-size:24px;
  color:#b2b2b2;
  margin: 0px 22px 0px 0px;
  cursor:pointer;
}

#mslide i{
  cursor:pointer;
}
  
#mslide .n_box, #mslide i,#mslide .cursor_box{
  z-index:100;
}

/* 마우스 효과 */


.scroll-down{
  position:absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.scroll{
  /* position: relative; */
  width:40px;
  height:80px;
  border: 2px solid #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.scroll span{
  width:15px;
  height:15px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  animation:cursor 1.15s linear infinite;
}
.arrow-down{
  width:10px;
  height:10px;
  border:2px solid transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transform:rotate(45deg);
  margin-top:0.3rem;
  animation:arrow 1.15s linear infinite;
}
@keyframes arrow{
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

@keyframes cursor{
  0%{
    opacity:0;
    transform: translateY(-15px);
  }
  100%{
    opacity:1;
    transform: translateY(15px);
  }
}


.cursor_box{
  left:50%;
  top:85%;
  transform: translateX(-50%);
  position: absolute;
  bottom:20px;
}

/* 2.신한소개 영역 */
#intro{
  overflow: hidden;
}


#intro:after{
  content:"";
  display:block;
  position:absolute;
  width:777px; height:777px;
  background: rgba(0, 70, 255, 0.8);
  border-radius: 50%;
  top:-187px; right:-187px;
  z-index: -1000;
}

#intro:before{
  content:"";
  display:block;
  position:absolute;
  width:393px; height:393px;
  background: rgba(0, 70, 255, 0.5);
  border-radius: 50%;
  z-index:-1000;
  left:40px;top:940px;

}

#intro .t_box{
  height:256px;
}

#intro .t_box h2{
  padding:120px 0px 20px 0px;
  font-size:64px;
  line-height: 82px;
  letter-spacing: -3%;
  font-weight: bold;

}
#intro .t_box h2 span{
  color:#0046ff;
}
#intro .t_box p{
  font-size:24px;
  line-height: 36px;
  color:#666;
  letter-spacing: -3%;
}

#intro .img_box01, .img_box02, .img_box03{
  width:580px; height:720px;
  position: relative;
}

#intro .img_wrap01 {
  transform: translateY(-150px);
}
#intro .img_box01 img,.img_box02 img, .img_box03 img{
  width:580px; height:720px;
  cursor:pointer;
}

#intro .img_box01::before{
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background-color: #0046ff;
  top:10px;
  right:20px;
  z-index:-1;
  transition:.5s;
}
#intro .img_box01:hover::before{
  top:0px;
  right:0px;
}
.img_box01:hover img,.img_box02:hover img,.img_box03:hover img {
  opacity: 0.5;
}

.img_box01:hover {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/introimg01.jpg);
}
.img_box02:hover {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/introimg02.jpg);
}
.img_box03:hover {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/introimg03.jpg);
}





#intro .t_box01 h3,.t_box02 h3,.t_box03 h3{
  padding-top:10px;
  font-size:36px;
  font-weight: bold;
}


#intro .img_box02{
  margin-top:120px;
}

#intro .img_box02::before,#intro .img_box03::before{
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background-color: #0046ff;
  top:10px;
  right:-20px;
  z-index:-1;
  transition: .5s;
}
#intro .img_box02:hover::before,#intro .img_box03:hover::before{
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background-color: #0046ff;
  top:0px;
  right:0px;
  z-index:-1;
}

#intro .t_box01 h3{
  padding-top:20px;
}
#intro .t_box01 p{
  font-size:20px;
  color:#333;
  line-height: 30px;
  letter-spacing: -3%;
  padding-top:35px;
}

#intro .t_box01:nth-child(2){
  margin-bottom:190px;
}
#intro .t_box01:last-child(2){
  margin-bottom: 122px;
}



/* marquee효과 */
/* 오른쪽에서 왼쪽으로 흐르는 상자 */
  .text-wrapper{
    display:flex;
    justify-content: flex-start;
    overflow: hidden;
    bottom:450px;
    z-index:-999;
    }

  .text-wrapper p{
    font-size:200px;
    text-transform: uppercase;
    color:rgba(25,25,25,0.05);
    white-space: nowrap;
    letter-spacing:1px;
    font-weight: 900;
    animation: move-rtl 30s linear infinite;
    margin: 0;
    padding: 0 30px;
    line-height: 1; /* 줄 간격을 1로 설정합니다. */
      }

    @keyframes move-rtl{
      0%{
        transform:translateX(0);
        }
      100%{
        transform:translateX(-100%);
        }
      }

      /* 왼쪽에서 오른쪽으로 흐르는 상자 */
    .text-wrapper2{
      display:flex;
      justify-content: flex-start;
      overflow: hidden;
      bottom:150px;
      z-index:-999;
    }

    .text-wrapper2 p{
      font-size:200px;
      text-transform: uppercase;
      color:rgba(25,25,25,0.05);
      white-space: nowrap;
      letter-spacing:1px;
      font-weight: 900;
      animation: move-ltr 30s linear infinite;
      margin: 0;
      padding: 0 30px;
      }

      @keyframes move-ltr{
        0%{
          transform:translateX(-100%);
        }
        100%{
          transform:translateX(0%);
        }
      }

      /* 3.IR투자자 영역 */
      #invest{
        background-image:url(/img/investbg.jpg);
        background-size:cover;
        background-attachment: fixed;
        width:100%;
        height:935px;
      }
      #invest .wrap{
        box-sizing: border-box;
      }

      #invest .con_wrap{
        padding:120px 0px 73px 0px;
      }

      /* #invest .con_wrap{
        justify-content: end;
      } */
      #invest .con_wrap h2{
        color:#fff;
        font-size:64px;
        font-weight:900;
        /* line-height:82px; */
        letter-spacing: -3%;
        margin-right:103px;
      }

      #invest .con_wrap p{
        color:#fff;
        font-size:24px;
        line-height: 36px;
        letter-spacing: -3%;
      }
      #invest .con_wrap a{
        color:#fff ;
        font-size:20px;
        line-height:16px;
        width:220px;
        height:52px;
        text-align:center;
        padding-top:14px;
        box-sizing: border-box;
        border:1px solid #fff;
        margin-left:240px;
      }

      #invest .box01{
        height:500px;
      }

      #invest .box01{
        padding:0px 0px 0px 20px;
      }

      #invest .box01 .t_wrap01{
        background: #F5F8FE;
        /* 박스 가로 사이징 */
        width:460px;
        height:500px;
        padding:0px 40px 0px 40px;
        box-sizing: border-box;
      }
      #invest .box02 >div{
        width:460px;
        background: #F5F8FE;
        height:240px;
      }


      /* 텍스트 문구들  */
      #invest .lred{
        font-size:30px;
        color:#ff0000;
        border-radius: 2px;
        padding:16px 0px 0px 100px;
      }
      #invest .sred{
        font-size:20px;
        color:#ff0000;
        border-radius: 2px;
        margin-left:12px;
      }
      #invest .lblue{
        font-size:30px;
        color:#0046ff;
        border-radius: 2px;
        margin:-3px 0px 0px 160px;
      }
      #invest .sblue{
        font-size:20px;
        color:#0046ff;
        border-radius: 2px;
      }
      #invest .t_wrap01 p:first-of-type{
        color:#191919;
        font-size:24px;
        padding-top:35px;
        font-weight: bold;
      }
      #invest .t_wrap01 ul:first-of-type{
        padding-top:23px;
      }

      #invest .t_wrap01 ul:first-of-type li:first-of-type{
        font-size:36px;
        font-weight: bold;
        color:#333;
      }
      #invest .t_wrap01 ul:first-of-type li:last-of-type{
        font-size:18px;
        color:#191919;
      }

      #invest .t_wrap01 ul:nth-of-type(2) li:first-of-type{
        font-size:48px;
        color:#ff0000;
        font-weight:bold;
      }
      #invest .t_wrap01 ul:nth-of-type(2) li:first-of-type span{
        font-size:18px;
        color:#333;
        font-weight: normal !important;
      }
      #invest .t_wrap01 ul:nth-of-type(2) li:last-of-type{
        font-size:24px;
        font-weight:medium;
        color:#333;
        padding-top:22px;
      }
      #invest .t_wrap01 ul:nth-of-type(3) {
        margin-top:20px;
        margin-bottom: -1px;
      }
      #invest .t_wrap01 ul:nth-of-type(3) li{
        font-size:18px;
        color:#333;
      }
      #invest .t_wrap01 ul:nth-of-type(4){
        border-bottom:1px solid #000;
      }
      #invest .t_wrap01 ul:nth-of-type(4) li{
        font-size:18px;
        color:#333;
        padding-bottom:36px;
      }
      #invest .t_wrap01 .dot{
        margin-top: 15px;
        border:1px dashed #333;
        width:102px;
        height:0px;
      }
      #invest .t_wrap01 p:last-of-type{
        font-size:24px;
        font-weight: bold;
        margin-top:35px;
        margin-bottom: 0px;
      }
      #invest .t_wrap01 ul:last-of-type li:first-of-type{
        font-size:30px;
        color:#0046ff;
        font-weight: bold;
      }
      #invest .t_wrap01 ul:last-of-type li:first-of-type span{
        font-size:18px;
        color:#333;
        font-weight:normal;
      }
      #invest .t_wrap01 ul:last-of-type li:last-of-type{
        font-size:24px;
        color:#333;
      }

      #invest .t_wrap02{
        padding:0px 40px;
      }

      /* 두번째박스 */
      #invest .t_wrap02 h3{
        font-size:24px;
        font-weight: bold;
        color:#191919;
        padding:30px 0px 20px 0px ;
      }
      #invest .t_wrap02 tr td{
        padding-bottom:20px;
      }
      #invest .t_wrap02 tr td:first-of-type{
        font-size:14px;
        color:#222;
        font-weight:bold;
      }
      #invest .t_wrap02 tr td:last-of-type a{
        font-size:14px;
        font-weight: bold;
        color:#222;
      }
      #invest .download{
        text-align:center;
      }
      #invest .download i{
        color:#0046ff;
        font-size:14px;
      }

      /* 4.보도자료 영역 */
      #board .t_box h2{
        padding-top:107px;
        font-size:64px;
        font: weight 900px;
        color:#333;
        letter-spacing: -3%;
      }
      #board .t_box p {
        padding:20px 0px 40px 0px;
        font-size:24px;
        line-height: 36px;
        color:#333;
      }
      #board .t_box a{
        font-size:20px;
        padding:18px 63px;
        border:1px solid #0046ff;
      }
      #board table{
        margin-top:107px;
        
      }
      #board table tr{
        height:100px;
        border-bottom: 1px solid #333;
      }
      #board table tr:first-child{
        border-top: 5px solid #000;
      }
      #board table tr td:first-child{
        width:120px;
        text-align:center;
        font-size:20px;
        color:#666;
        vertical-align: middle;
      }
      #board table tr td:last-child{
        vertical-align: middle;
        font-weight: bold;
      }
      #board table tr td:last-child a{
        color:#333;
        font-size:20px;
      }
      #board table tr td:last-child a:hover{
        color:#0046ff;
      }

      #board table{
        margin-bottom:130px;
      }






      
