@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', '맑은 고딕', arial, sans-serif !important;
    width:100%;
}

a {
    text-decoration: none !important;
}

.wrap {
    max-width:768px;
    width:100%;
    /* min-width:390px; */

    margin:0 auto !important;
    padding:0 25px;
    box-sizing: border-box;
}