@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', '맑은 고딕', arial, sans-serif !important;
    min-width:1440px;
}

a {
    text-decoration: none !important;
}

.wrap {
    max-width:1420px;
    width:100%;
    min-width:1420px;

    margin:0 auto !important;
}