@charset "utf-8";

/* header */

header {
    position:fixed;
    width:calc(100% - 101px);
    height:100px;
    background:rgba(0,0,0,0.5);
    z-index:1000;
}

header::after {
    content:'';
    display:block;
    width:calc(100% + 101px);
    height:0;

    position:absolute;
    top:100px;
    left:0;

    background:#fff url('../images/gnb_img.png') no-repeat left bottom;
    /* background-size: 400px; */

    transition:0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

header h1 {
    position:absolute;
    left:40px;
    top:50%;
    transform: translateY(-50%);
}

header h1 a {
    display:block;
    background: none;
}

header h1 a img {
    opacity:1;
}

header .gnb {
    position:absolute;
    right:145px;

    width:800px;
    transition:0.5s;
    z-index:100;
}

header .gnb .depth_01 > li {
    position:relative;

    padding:0 20px;
    text-align: center;
    transition:0.5s;
}

header .gnb .depth_01 > li > a,
header .language a  {
    line-height:100px;
    font-size:20px;
    font-weight:bold;
    color:#fff;
}

header .gnb .depth_02 {
    position:absolute;
    top:101px;
    left:0;

    width:100%;
    height:0;
    padding-top:20px;

    text-align: center;
    overflow:hidden;

    transition: 0.5s;
}

header .gnb .depth_02 li a {
    position:relative;

    line-height:40px;
    font-size:16px;
    color:#666;
    opacity:0;
}

header .language {
    position:relative;

    margin-left:10px;
    padding:0 60px 0 30px;
}

header .language::before {
    content:'';
    display:block;
    height:30px;
    width:1px;

    position:absolute;
    left:0px;
    top:35px;
    
    background:#fff;
}

header .language::after {
    content:url('../images/arrow_white.png');
    display:block;

    position:absolute;
    right:35px;
    top:40px;
    transition: 0.3s;
}

header .language > li::before {
    content:'';
    display:block;
    position:absolute;
    width:calc(100% - 10px);
    /* height:116px; */
    height:0;
    background:#fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    z-index:-1;
    left:0;
    top:30px;
}

header .language > li > ul {
    position:absolute;
    top:70px;
    left:30px;
    display:none;
} 

header .language > li > ul a {
    line-height:36px;
}

header .language.on {
    z-index:9999;
}

header .language.on a {
    color:#333;
} 

header .language.on::after {
    content:url('../images/arrow_black.png');
    transform:rotate(180deg) translateY(-5px);
}

header .language.on > li::before {
    height:116px;
}

header .language > li > ul > li:hover a {
    color:#0046FF;
}

header .language.on > li > ul {
    display:block;
}


/* header - hover */

header.active {
    height:100px;
    background:#fff;
}

header.active::after {
    border-top:1px solid rgba(0, 70, 255, 0.5);
    height:387px;
}

header.active h1 a {
    background: url('../images/logo_blue.png') no-repeat center center;
}
header.active h1 a img {
    opacity:0;
}

header.active .gnb .depth_01 > li:hover > a {
    color:#0046FF;
}

header.active .gnb .depth_01 > li:hover > ul {
    background:#F5F8FE;
    /* border-top:1px solid rgba(0, 70, 255, 0.5); */
}

header.active .gnb .depth_02 {
    height:386px;
    top:101px;
}

header.active .gnb .depth_02 li a {
    opacity:1;
}

header.active .gnb .depth_02 li a:hover::after {
    content:'';
    display:block;
    width:100%;
    height:5px;

    position:absolute;
    left:0;
    bottom:-5px;
    
    background:rgba(0, 70, 255, 0.5);
}

header.active .gnb {
    right:calc(50% - 500px);
    width:900px;
}

header.active .gnb .depth_01 > li {
    width:180px;
}

header.active .gnb .depth_01 > li > a,
header.active .language a {
    color:#333;
}

header.active .language::before {
    background:#333;
}

header.active .language::after {
    content:url(../images/arrow_black.png);
}




/* aside toggle */

.gnb_toggle_btn {
    position:fixed;
    top:0;
    right:0;

    width:100px;
    height:100px;
    margin-left: 10px;
    border-left:1px solid rgba(255,255,255,0.5);
    background:rgba(0,0,0,0.5);

    cursor: pointer;
    z-index:1000;
}

.gnb_toggle_btn span {
    position:absolute;
    top:calc(50% - 1px);
    left:30px;
    
    display:block;
    width:40px;
    height:2px;
    background:#fff;

    transition: 0.3s;
}

.gnb_toggle_btn span:nth-child(1) {
    transform: translateY(-10px);
}

.gnb_toggle_btn span:nth-child(2) {
    transform: translateY(0);
}

.gnb_toggle_btn span:nth-child(3) {
    transform: translateY(10px);
}

.gnb_toggle {
    position:fixed;
    top:0;
    right:-100%;

    width:100%;
    height:100vh;
    background:#1E3063;

    transition:0.5s;
    z-index:500;
}

header.active + aside .gnb_toggle_btn {
    background:#fff;
    border-left:1px solid rgba(0, 70, 255, 0.5);
}

header.active + aside .gnb_toggle_btn::before {
    background:rgba(0, 70, 255, 0.5);
}

header.active + aside .gnb_toggle_btn span {
    background:rgba(0, 70, 255, 1);
}


body.toggle_on {
    overflow: hidden;
}

body.toggle_on header {
    width:100%;
    padding-right:101px;
    background:none;
    border-bottom:1px solid #fff;
}

body.toggle_on .gnb {
    display:none;
}

body.toggle_on .gnb_toggle {
    right:0;
}

.gnb_toggle > .depth_01 {
    max-width:1420px;
    width:100%;

    margin:150px auto 0;
}

.gnb_toggle > .depth_01 > li {
    width:calc(100% / 5);
}

.gnb_toggle .depth_01 > li > a {
    font-size:24px;
    font-weight:bold;
    color:#fff;

    display:inline-block;
    /* margin-bottom:30px; */
}

.gnb_toggle .depth_02 > li > a {
    font-size:16px;
    font-weight:bold;
    color:#fff;

    display:inline-block;
    margin-top:22px;
    margin-bottom:10px;
}

.gnb_toggle .depth_03 > li > a {
    font-size:16px;
    color:#e1e1e1;
    font-weight:200;

    display:inline-block;
    margin-bottom:8px;
}

.gnb_toggle_btn.on {
    border-left:1px solid rgba(255,255,255,1);
    background:none;
}

.gnb_toggle_btn.on span:nth-child(1) {
    transform: translateY(0px) rotate(45deg);
}

.gnb_toggle_btn.on span:nth-child(2) {
    width:0;
}

.gnb_toggle_btn.on span:nth-child(3) {
    transform: translateY(0px) rotate(-45deg);
}








/* footer */

footer {
    background:#1E3063;
}

.footer_top {
    border-bottom:1px solid #fff;
}

.footer_menu li {
    margin-right:40px;
}

.footer_menu li a {
    line-height:100px;
    font-size:20px;
    font-weight:bold;
    color:#fff;
}

#family_site {
    width:100%;
    padding:0 20px;
    line-height:60px;
    height: 60px;
    border: 1px solid #fff;
    background: none;

    color:#fff;
    font-size:20px;
}

.footer_bottom {
    padding:50px 0 100px;
}

.footer_bottom ul li {
    display:block;
    width:60px;
    border-radius: 30px;
    background:#fff;
    margin-left:10px;
}

.footer_bottom address {
    margin-top:30px;
    color:#fff;
}